@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@* @{
    var email = User.FindFirst(ClaimTypes.Email)?.Value;
    var displayName = User.FindFirst(ClaimTypes.Name)?.Value;
} *@
@if (User.Identity.IsAuthenticated)
{	
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">RPA Dashboard</h2>
						<h5 class="text-white op-7 mb-2">RPA Process Overview</h5>
					</div>
					<div class="ml-md-auto py-3 py-md-0">
						<!-- <a href="https://trinity-rpa-dev.trinity-solar.com/tsa" class="btn btn-primary btn-round" style="padding: 10px 20px;">TSA</a> -->
						@* <a href="https://trinity-rpa-dev.trinity-solar.com/tsa" class="btn btn-white btn-border btn-round mr-2">TSA</a> *@
						<a class="btn btn-secondary btn-round" asp-area="" asp-controller="Resource" asp-action="Resource">Get Resources</a>
						@* <a href="https://trinity-rpa-dev.trinity-solar.com/dashboard" class="btn btn-secondary btn-round">Process Overview</a> *@
						@* <a href="/User/User" class="btn btn-secondary btn-round">Users</a> *@
						<a class="btn btn-secondary btn-round" asp-area="" asp-controller="User" asp-action="User">BP Users</a>
					</div>				</div>
			</div>
		</div>
		<div class="page-inner mt--5">
			<div class="row mt--2">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Overall statistics</div>
							<div class="card-category">Overview of total processes and their current status</div>
							<div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="Not_Updating"></div>
									<h6 class="fw-bold mt-3 mb-0">Not Updating</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="Running"></div>
									<h6 class="fw-bold mt-3 mb-0">Running</h6>
								</div>
								<div class="px-2 pb-2 pb-md-0 text-center">
									<div id="Not_Running"></div>
									<h6 class="fw-bold mt-3 mb-0">Not Running</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-body">
							<div class="card-title">Weekly Completions</div>
							<div class="row py-3">
								<div class="col-md-4 d-flex flex-column justify-content-around">
									<div>
										<h6 class="fw-bold text-uppercase text-success op-8">Total Completions</h6>
										<h3 class="fw-bold" , id="totalWeeklyCompletion"></h3>
									</div>
									<div>
										<h6 class="fw-bold text-uppercase text-info op-8">Total Completed Last Week</h6>
										<h3 class="fw-bold" , id="totalLastWeekCompletions"></h3>
									</div>
								</div>
								<div class="col-md-8">
									<div id="chart-container">
										<canvas id="weeklyCompletions"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Monthly Bot Transactions</div>
								<div class="card-tools">
									<a href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
										<span class="btn-label">
											<i class="fa fa-pencil"></i>
										</span>
										Export
									</a>
									<a href="#" class="btn btn-info btn-border btn-round btn-sm">
										<span class="btn-label">
											<i class="fa fa-print"></i>
										</span>
										Print
									</a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="chart-container" style="min-height: 375px">
								<canvas id="statisticsChart"></canvas>
							</div>
							<div id="myChartLegend"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-primary">
						<div class="card-header">
							<div class="card-title">Daily Bot Hours / Money Saved</div>
							<div class="card-category">Total Estimated Saved From Last Week To Now</div>
						</div>
						<div class="card-body pb-0">
							<div class="mb-4 mt-2">
								<h1>$</h1>
							</div>
							<div class="pull-in">
								<canvas id="dailyCompletions"></canvas>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body pb-0">
							<div class="h1 fw-bold float-right text-warning">+7%</div>
							<h2 class="mb-2">213</h2>
							<p class="text-muted">Transactions</p>
							<div class="pull-in sparkline-fix">
								<div id="lineChart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Top Products</div>
						</div>
						<div class="card-body pb-0">
							<div class="d-flex">
								<div class="avatar">
									<img src="/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 id="product_name_1" class="fw-bold mb-1">CSS</h6>
									<small id="product_description_1" class="text-muted">Cascading Style Sheets</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 id="product_completed_1" class="text-info fw-bold">+$17</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/img/logoproduct.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 id="product_name_2" class="fw-bold mb-1">J.CO Donuts</h6>
									<small id="product_description_2" class="text-muted">The Best Donuts</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 id="product_completed_2" class="text-info fw-bold">+$300</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar">
									<img src="/img/logoproduct3.svg" alt="..." class="avatar-img rounded-circle">
								</div>
								<div class="flex-1 pt-1 ml-2">
									<h6 id="product_name_3" class="fw-bold mb-1">Ready Pro</h6>
									<small id="product_description_3" class="text-muted">Bootstrap 4 Admin Dashboard</small>
								</div>
								<div class="d-flex ml-auto align-items-center">
									<h3 id="product_completed_3" class="text-info fw-bold">+$350</h3>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="pull-in">
								<canvas id="topProductsChart"></canvas>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<div class="card-title fw-mediumbold">Meet The Team</div>
							<div class="card-list">
								<div class="item-list">
									<div class="avatar">
										AG
									</div>
									<div class="info-user ml-3">
										<div class="username">Avi Goyal</div>
										<div class="status">RPA Engineer 1</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										PM
									</div>
									<div class="info-user ml-3">
										<div class="username">Pahan Mahakumara</div>
										<div class="status">RPA Manager</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										SB
									</div>
									<div class="info-user ml-3">
										<div class="username">Sandra K. Balakrishnan</div>
										<div class="status">Software Developer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										MC
									</div>
									<div class="info-user ml-3">
										<div class="username">Michael Curley</div>
										<div class="status">RPA Engineer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										JM
									</div>
									<div class="info-user ml-3">
										<div class="username">Jake Merrick</div>
										<div class="status">RPA Engineer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										JP
									</div>
									<div class="info-user ml-3">
										<div class="username">Jibin Paul</div>
										<div class="status">RPA Engineer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										RM
									</div>
									<div class="info-user ml-3">
										<div class="username">Rani Mallan</div>
										<div class="status">RPA Engineer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										AA
									</div>
									<div class="info-user ml-3">
										<div class="username">Arsha Asoke</div>
										<div class="status">RPA Engineer</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
								<div class="item-list">
									<div class="avatar">
										JM
									</div>
									<div class="info-user ml-3">
										<div class="username">Jeff MacDonald</div>
										<div class="status">Business Analyst</div>
									</div>
									<button class="btn btn-icon btn-primary btn-round btn-xs">
										<i class="fa fa-plus"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card card-primary bg-primary-gradient">
						<div class="card-body">
							<h4 class="mt-3 b-b1 pb-2 mb-4 fw-bold">Active user right now</h4>
							<h1 class="mb-4 fw-bold">17</h1>
							<h4 class="mt-3 b-b1 pb-2 mb-5 fw-bold">Page view per minutes</h4>
							<div id="activeUsersChart"></div>
							<h4 class="mt-5 pb-3 mb-0 fw-bold">Top active pages</h4>
							<ul class="list-unstyled">
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/readypro/index.html</small> <span>7</span></li>
								<li class="d-flex justify-content-between pb-1 pt-1"><small>/product/atlantis/demo.html</small> <span>10</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-title">Feed Activity</div>
						</div>
						<div class="card-body">
							<ol class="activity-feed">
								<li class="feed-item feed-item-secondary">
									<time class="date" datetime="9-25">Sep 25</time>
									<span class="text">Responded to need <a href="#">"Volunteer opportunity"</a></span>
								</li>
								<li class="feed-item feed-item-success">
									<time class="date" datetime="9-24">Sep 24</time>
									<span class="text">Added an interest <a href="#">"Volunteer Activities"</a></span>
								</li>
								<li class="feed-item feed-item-info">
									<time class="date" datetime="9-23">Sep 23</time>
									<span class="text">Joined the group <a href="single-group.php">"Boardsmanship Forum"</a></span>
								</li>
								<li class="feed-item feed-item-warning">
									<time class="date" datetime="9-21">Sep 21</time>
									<span class="text">Responded to need <a href="#">"In-Kind Opportunity"</a></span>
								</li>
								<li class="feed-item feed-item-danger">
									<time class="date" datetime="9-18">Sep 18</time>
									<span class="text">Created need <a href="#">"Volunteer Opportunity"</a></span>
								</li>
								<li class="feed-item">
									<time class="date" datetime="9-17">Sep 17</time>
									<span class="text">Attending the event <a href="single-event.php">"Some New Event"</a></span>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card full-height">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title">Support Tickets</div>
								<div class="card-tools">
									<ul class="nav nav-pills nav-secondary nav-pills-no-bd nav-sm" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link" id="pills-today" data-toggle="pill" href="#pills-today" role="tab" aria-selected="true">Today</a>
										</li>
										<li class="nav-item">
											<a class="nav-link active" id="pills-week" data-toggle="pill" href="#pills-week" role="tab" aria-selected="false">Week</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" id="pills-month" data-toggle="pill" href="#pills-month" role="tab" aria-selected="false">Month</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="avatar avatar-online">
									<span class="avatar-title rounded-circle border border-white bg-info">J</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Joko Subianto <span class="text-warning pl-3">pending</span></h6>
									<span class="text-muted">I am facing some trouble with my viewport. When i start my</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">8:40 PM</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Prabowo Widodo <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">1 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Lee Chong Wei <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-offline">
									<span class="avatar-title rounded-circle border border-white bg-secondary">P</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Peter Parker <span class="text-success pl-3">open</span></h6>
									<span class="text-muted">I have some query regarding the license issue.</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Day Ago</small>
								</div>
							</div>
							<div class="separator-dashed"></div>
							<div class="d-flex">
								<div class="avatar avatar-away">
									<span class="avatar-title rounded-circle border border-white bg-danger">L</span>
								</div>
								<div class="flex-1 ml-3 pt-1">
									<h6 class="text-uppercase fw-bold mb-1">Logan Paul <span class="text-muted pl-3">closed</span></h6>
									<span class="text-muted">Is there any update plan for RTL version near future?</span>
								</div>
								<div class="float-right pt-1">
									<small class="text-muted">2 Days Ago</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/setting-demo.js"></script>
	<script src="/js/demo.js"></script>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome, Guest</h1>
        <p>Please log in to see your dashboard.</p>
    </div>
}
